<a href="https://colab.research.google.com/github/Maurimrs/INT_DS_UNIVESP/blob/main/biblioteca_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Tem seu nome originado de "Panel Data", e suas principais funções estão atreladas ao uso de dados multidimensionais.

* Uma das principais ferramentas para limpeza e analise de dados.
* Pandas parece muito NumPy, entretanto Pandas foi projetado para trabalha com dados tabulares e heterogenios, enquanto NumPy é mais adequado a dados homogenios em arrays.

* Pandas é uma das bibliotecas mais utilizadas por Cientistas de Dados ao redor do mundo.
* As estruturas fundamentais de trabalho no pandas são as SERIES e o DATAFRAME

# Series

* objeto do tipo array unidimensional contendo uma sequencia de valores e um array associado de rotulos(labels) de dados chamado de indice

* A representaçao em String de uma SERIES mostra indices a esquerda e valores a direita ( vamos ver na demonstração).

* Diferente do NumPy, nas series podemos ter rotulos nos indices


# DataFrame

* Representa uma tabela de dados retangular e contem uma coleção ordenada de colunas, em que cada uma pode ter um tipo de valor diferente (bool, Strin, Numerico, entre outros).

* O Dataframe tem indice tanto para linha quanto para coluna, podendo ser imaginado como um dicionario (dict) de Series, todos compartilhando o mesmo indice.

* A capacidade de trabalhar com varios tipode de dados, como se fosse uma tabela de banco de dados, favorece consideravelmente o trabalho de um profissional de DS.


# Demonstração
* Assim como na biblioteca NumPy, vamos fazer uma demonstração de uso da biblioteca Pandas.
* Importante ressaltar a necessidade de conhecer profundamente os recursos do Pàndas, pois acelera demais a resolução de problemas do cotidiano com dados.
* Estude o livro texto, o material de apoio e abuse do uso de pandas.

In [ ]:
#Importar biblioteca

import pandas as pd
import numpy as np

In [ ]:
#series

s1=pd.Series([1,2,-5,0])

s1

0    1
1    2
2   -5
3    0
dtype: int64

In [ ]:
#values

s1.values

array([ 1,  2, -5,  0])

In [ ]:
#indices

s1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
s2=pd.Series([1,2,-5,0], index=['a','b','c','d'])

In [ ]:
s2

a    1
b    2
c   -5
d    0
dtype: int64

In [ ]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
s2['a']=1000

In [ ]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

In [ ]:
#comparação

s2[s2>0]

a    1000
b       2
dtype: int64

In [ ]:
#algebra

s2*2

a    2000
b       4
c     -10
d       0
dtype: int64

In [ ]:
#se ha valor nulo
s2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

In [ ]:
#data frame

In [ ]:
dados={'ESTADO':['SP','MG','PR','SP','PR','MG'], 'ANO' :[2019,2019,2019,2020,2020,2020], 'POPULAÇÃO':[45.9,21.2,16.9,46.6,21.4,17.3]}
df1=pd.DataFrame(dados);
df1

  ESTADO   ANO  POPULAÇÃO
0     SP  2019       45.9
1     MG  2019       21.2
2     PR  2019       16.9
3     SP  2020       46.6
4     PR  2020       21.4
5     MG  2020       17.3

In [ ]:
#visualizar partes de um DataFrame

In [ ]:
df1.head(2)
#mostra os dois primeiros itens do DataFrame

  ESTADO   ANO  POPULAÇÃO
0     SP  2019       45.9
1     MG  2019       21.2

In [ ]:
df1.tail(2)
# mostra os 2 ultimos registros

  ESTADO   ANO  POPULAÇÃO
4     PR  2020       21.4
5     MG  2020       17.3

In [ ]:
df1.sample(2)
#tras 2 valores aleatoriamente

  ESTADO   ANO  POPULAÇÃO
5     MG  2020       17.3
4     PR  2020       21.4

In [ ]:
 #novo DF apartir do anterior
df2=pd.DataFrame(dados,columns=['ANO','ESTADO','POPULAÇÃO'])
df2

#neste caso estou definindo que as colunas serao nesta nova ordem.

    ANO ESTADO  POPULAÇÃO
0  2019     SP       45.9
1  2019     MG       21.2
2  2019     PR       16.9
3  2020     SP       46.6
4  2020     PR       21.4
5  2020     MG       17.3

In [ ]:
#OBSERVAR DF

df2['ESTADO']

0    SP
1    MG
2    PR
3    SP
4    PR
5    MG
Name: ESTADO, dtype: object

In [ ]:
df2.ANO

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ANO, dtype: int64

In [ ]:
df2.dtypes

ANO            int64
ESTADO        object
POPULAÇÃO    float64
dtype: object

In [ ]:
#atribuir valor
df2['ESTIMATIVA']=50
df2

    ANO ESTADO  POPULAÇÃO  ESTIMATIVA
0  2019     SP       45.9          50
1  2019     MG       21.2          50
2  2019     PR       16.9          50
3  2020     SP       46.6          50
4  2020     PR       21.4          50
5  2020     MG       17.3          50

In [ ]:
df2['ESTIMATIVA']=np.arange(6)
df2

    ANO ESTADO  POPULAÇÃO  ESTIMATIVA
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     PR       21.4           4
5  2020     MG       17.3           5

In [ ]:
df3=df2
df3

    ANO ESTADO  POPULAÇÃO  ESTIMATIVA
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     PR       21.4           4
5  2020     MG       17.3           5

In [ ]:
df3=df2['ANO']
df3

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ANO, dtype: int64

In [ ]:
df2['NAO PARANA']=df2.ESTADO!='PR'
df2

    ANO ESTADO  POPULAÇÃO  ESTIMATIVA  NAO PARANA
0  2019     SP       45.9           0        True
1  2019     MG       21.2           1        True
2  2019     PR       16.9           2       False
3  2020     SP       46.6           3        True
4  2020     PR       21.4           4       False
5  2020     MG       17.3           5        True

In [ ]:
#excluir coluna
del df2['NAO PARANA']

In [ ]:
df2

    ANO ESTADO  POPULAÇÃO  ESTIMATIVA
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     PR       21.4           4
5  2020     MG       17.3           5

In [ ]:
#entender o daframe
df2.shape #mostra o tamanho do DF

(6, 4)

In [ ]:
df2.shape[0] #contra quantas linhas eu tenho

6

In [ ]:
df2.index #mostra o indice

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df2.columns #mostra as colunas que eu tenho

Index(['ANO', 'ESTADO', 'POPULAÇÃO', 'ESTIMATIVA'], dtype='object')

In [ ]:
df2.count() #conta quantos valores eu tenho

ANO           6
ESTADO        6
POPULAÇÃO     6
ESTIMATIVA    6
dtype: int64

In [ ]:
df2.columns=['Ano', 'Estado', 'População', 'Estimativa'] # altera o nome das colunas

In [ ]:
df2

    Ano Estado  População  Estimativa
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     PR       21.4           4
5  2020     MG       17.3           5

In [ ]:
df2.describe(include='all')

                Ano Estado  População  Estimativa
count      6.000000      6   6.000000    6.000000
unique          NaN      3        NaN         NaN
top             NaN     SP        NaN         NaN
freq            NaN      2        NaN         NaN
mean    2019.500000    NaN  28.216667    2.500000
std        0.547723    NaN  14.096725    1.870829
min     2019.000000    NaN  16.900000    0.000000
25%     2019.000000    NaN  18.275000    1.250000
50%     2019.500000    NaN  21.300000    2.500000
75%     2020.000000    NaN  39.775000    3.750000
max     2020.000000    NaN  46.600000    5.000000

In [ ]:
#alterar valores e consultar dados

df2['Ano']= df2['Ano']+2
df2

    Ano Estado  População  Estimativa
0  2021     SP       45.9           0
1  2021     MG       21.2           1
2  2021     PR       16.9           2
3  2022     SP       46.6           3
4  2022     PR       21.4           4
5  2022     MG       17.3           5

In [ ]:
df2[df2['Ano']>2021] #mostra so os valores em que o ano é maior que 2021

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     PR       21.4           4
5  2022     MG       17.3           5

In [ ]:
df4 = df2[df2['Ano']>2021] #cria um novo DF com os itens resultantes da comparação

In [ ]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     PR       21.4           4
5  2022     MG       17.3           5

In [ ]:
#excluir colunas
df4.drop('Ano', axis = 'columns') #exclui apenas desse relatorio

  Estado  População  Estimativa
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     PR       21.4           4
5  2022     MG       17.3           5

In [ ]:
df2.drop('Ano', axis='columns', inplace=True) #exlui do relatorio e do DF

In [ ]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
df2.drop([0,1])

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
#propagação na exclusão definitiva

In [ ]:
dflinhas=df2

In [ ]:
dflinhas

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
dflinhas.drop([0,1],inplace=True)

In [ ]:
dflinhas

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     PR       21.4           4
5     MG       17.3           5

In [ ]:
#ver dados de linhas
df2.iloc[0] #mostra os dados da linha na posiçao 0

Estado          PR
População     16.9
Estimativa       2
Name: 2, dtype: object

In [ ]:
df2.iloc[1:3]

  Estado  População  Estimativa
3     SP       46.6           3
4     PR       21.4           4

In [ ]:
df2.iloc[1:3,[1,2]] #mostra as linhas de 1:3 e as colunas 1,2

   População  Estimativa
3       46.6           3
4       21.4           4

#finalizando

* Essencial saber explorar a biblioteca pandas
* Usaremos muito essa biblioteca daqui para frente em outras tarefas que vamos realizar
* lembre-se sempre de explorar os recursos de Series e Dataframes do Panda, e nao se esqueça que um Dataframe é formado por Series.
* Aprofunde muito seus estudos em Pandas!